.letter-pool {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  .letter {
    width: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 4px;
    text-align: center;
    border-radius: 5px;
    background: white;
  }
}

.word {
  display: flex;
  border-radius: 10px;
  .position {
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.1); //flex-grow: 1;
    padding: 1rem;
    border: 1px solid #a5a5a5;
    margin: 4px;
    text-align: center;
    border-radius: 5px;
    height: 1rem;
    width: 1rem;
    .letter {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 1rem;
      padding: 1rem;
      border: 1px solid #a5a5a5;
      text-align: center;
      border-radius: 5px;
      background: white;
    }
  }
  .position--hover {
    border: 1px dashed black;
  }
  .position--correct {}
  .position--incorrect {
    animation-duration: 1s;
    animation-name: showError;
  }
}

.word--correct {
  background: rgba(0, 115, 0, 0.3);
}

@keyframes showError {
  from {
    border: 1px solid red;
    background: rgba(150, 0, 0, 0.3);
  }
  to {
    border: 1px solid #a5a5a5;
    background: rgba(0, 0, 0, 0.1);
  }
}
