.menu-bg {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  display: none;
}

.menu {
  text-align: center;
}

.menu__title {
  color: white; // width: 100%;
  margin: 20px;
}

.menu__btn,
.menu__btn {
  display: block;
  background: #fff;
  padding: 10px 30px;
  width: 200px;
  margin: 20px auto;
  font-size: 1.3rem;
  color: #555;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}
