@import 'menu';
@import 'letters';

body {
  margin: 0;
  background: #ccc;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}

.screen {
  margin: 0 20px;
}
.screen__title {

}
.screen__wrapper {
  //max-width: 400px;
  margin: 0 auto;
  background: white;
  position: relative;
}
#drawTitle {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
}

/* Scale canvas with resize attribute to full size */

// canvas[resize] {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   background: white;
// }

canvas {
  //position: fixed;
  background: white;
  z-index: 1;
}

.action-bar {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.letter-pool {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  .letter {
    width: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    background: white;
  }
}
.word {
  background: rgba(0,0,0,0.1);
  display: flex;
  border-radius: 10px;
  .position {
    display: block;
    position: relative;
    background: rgba(0,0,0,0.1);
    //flex-grow: 1;
    padding: 1rem;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    height: 1rem;
    width: 1rem;
    .letter {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 1rem;
      padding: 1rem;
      border: 1px solid #ccc;
      text-align: center;
      border-radius: 5px;
      background: white;
    }
  }
  .position--hover {
    border: 1px dashed black;
  }
  .position--correct {

  }
  .position--incorrect {
    animation-duration: 1s;
    animation-name: showError;
  }
}
.word--correct {
  background: rgba(0, 115, 0, 0.3);
}

@keyframes showError {
  from {
    border: 1px solid red;
    background: rgba(150,0,0,0.3);
  }
  to {
    border: 1px solid #ccc;
    background: rgba(0,0,0,0.1);
  }
}
