/* dragula styles */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 5px; // background: white;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.letter-pool {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  // @for $i from 1 through 50 {
  //   .letter:nth-child(#{$i}) {
  //     $color: hsl(random(360)+80, 20%, 50%);
  //     background: $color;
  //     &:before {
  //       border: 1px solid $color;
  //     }
  //   }
  // }
  .letter {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    margin: 4px;
    border-radius: 5px; // background: white;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
  }
}

.letter span {
  font-size: 2rem;
  position: relative;
  bottom: 4px;
}

.gu-mirror span {
  //   display: block;
  //   position: relative;
  bottom: 0;
}

.word {
  display: flex;
  border-radius: 10px;
  .position {
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.1); //flex-grow: 1;
    padding: 1rem;
    border: 1px solid #a5a5a5;
    margin: 4px;
    text-align: center;
    border-radius: 5px;
    height: 1rem;
    width: 1rem;
    .letter {
      position: absolute;
      left: -1px;
      top: -1px;
      display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
      border: 1px solid #a5a5a5;
      text-align: center;
      border-radius: 5px;
      color: #fff;
    }
  }
  .position--hover {
    border: 1px dashed black;
  }
  .position--correct .letter {
    background: #4A5882;
    color: #fff;
  }
  .position--incorrect {
    animation-duration: 1s;
    animation-name: showError;
  }
}

.word--correct {
  background: rgba(0, 115, 0, 0.3);
}

@keyframes showError {
  from {
    border: 1px solid red;
    background: rgba(150, 0, 0, 0.3);
  }
  to {
    border: 1px solid #a5a5a5;
    background: rgba(0, 0, 0, 0.1);
  }
}
