.menu-bg {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #4A5882;
  z-index: 999;
  // display: none;
}

.menu {
  text-align: center;
  padding: 2rem;
  color: #fff;
}

.menu__title {
  color: white; // width: 100%;
  margin: 20px;
}

.menu__userImage {
  display: block;
  margin: 0 auto;
  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

.menu__btn {
  font-family: $font, sans-serif;
  display: block;
  background: #fff;
  padding: 10px 30px;
  width: 300px;
  margin: 20px auto;
  font-size: 1.3rem;
  color: #555;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
}
